<html>

<head>
    <style>
 body {
            font-family: Arial, sans-serif;
            background-color: #c088a9;
            padding: 20px;
        }

        h1 {
            color: #333;
        }
    </style>
</head>

<body>
    <h1>Hi {{name}},</h1>
    <p>Your password has been changed successfully</p>
</body>

</html>